<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <input type="text" id="username" placeholder="Foydalanuvchi nomi yoki email"><br>
        <input type="password" id="password" placeholder="Parol"><br>
        <button class="js-btn">Kirish</button>
        <div id="error" class="error"></div>
    </div>

    <script src="/js/login.js"></script>
</body>
</html>
